@model SalesBlitz.Models.RepsModels.RepDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RepDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
