@model IEnumerable<SalesBlitz.Models.RepsAtBlitzModels.RepAtBlitzItem>

@{
    ViewBag.Title = "Index";
}

<h4>Index</h4>

<h2>
    @Html.ActionLink("Create New", "Create")
</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RepId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlitzId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RepId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlitzId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
